:focus {
  outline-color: transparent;
  outline-style: none;
}
* {
box-sizing:border-box;
}
dd{
margin:2px;
}
dl{
padding-left:12px;
display: inline-block;
float:left;
width:101px;
}
ul{
margin: 0px;
padding:0px;
display: inline-block;
list-style: none;
}
li{
display: inline-block;
}
div{
display: block;
}
.navi{
position: absolute;
right:10px;
margin-top:0px;
}
.wrap {
width:960px;
position: relative;
min-width:960px;
margin:0 auto;
}
.top_box{
width:960px;
height:34px;
border-bottom:1px solid #eeeef0;
position: relative;
}
.top_head{
width:100%;
height: 112px;
overflow: hidden;
}
.login{
border:1px solid #a9abb0;
width: 300px;
height:120px;
float:right;
}
.content_wrap{
position: relative;
}
.side{
position: relative;
height: 120px;
padding-top: 5px;
}
#main{
margin-top: 10px;
border:1px solid #a9abb0;
padding-top: 5px;
width:653px;
position: absolute;
margin-right: 5px;
margin-bottom: 5px;
}
.media{
border-bottom:1px solid #eeeef0;
height:460px;
}
.multi{
border-bottom:1px solid #eeeef0;
height:328px;
}

.story{
height:634px;
}
#sub{
margin-top: 10px;
width:300px;
margin-left:auto;
display: block;
}
.shopping{
margin-top: 9px;
height: 716px;
border:1px solid #a9abb0;
border-bottom:1px solid #eeeef0;
}
.shop_how{
height:363px;
border:1px solid #a9abb0;
border-top:0px;
border-bottom:3px solid #a9abb0;
}
.banner{
border:1px solid #a9abb0;
}
.ad1{
width:653px;
height: 120px;
border:1px solid #a9abb0;
float:left;
}
.ad2{
width:300px;
height: 150px;
border:1px solid #a9abb0;
}
.ad3{
margin-top: 9px;
width:300px;
height: 180px;
border:1px solid #a9abb0;
}
.foot{
border:1px solid #a9abb0;
border-top:3px solid #000000;
margin-top: 10px;
width: 960px;
height:68px;
}
.service{
border:1px solid #000000;
width:515px;
margin-top: 34px;
right:0px;
position: absolute;
overflow: hidden;
z-index: 1;
background: white; 
}
.service_all{
top:0px;
left:0px;
height: 200px;
background: url(./bg_line_v2.gif) repeat-y 105px 0;
}
.app_intro{
margin-bottom:31px;
height:100px;
border-top: 1px solid #eeeef0;
overflow: hidden;
}
.new_app{
float:left;
width:230px;
height:100px;
}
.app_import{
float:left;
width:266px;
height: 100px;
}
.service_bottom{
margin-top: auto;
position: relative;
bottom:0px;
left:0px;
width:515px;
height: 31px;
background-color: #f4f5f7;
}
.hidden{
display: none;
}
.logo{
float:left;
width:321px;
height:112px;
}
.search_bar{
margin-top: 45px;
float:left;
width:446px;
height:40px;
background:url(./bg_daum_v10.png?v=1683) no-repeat 0 0;
}
.search_input{
font-size:16px;
font-weight: bold;
margin: 9px 9px;
width:358px;
height:18px;
border:1px solid transparent;
background: transparent; 

}
.search_btn{
overflow: hidden;
float: right;
width: 66px;
height: 39px;
line-height: 39px;
background-color: transparent;	
text-indent:-9999px;
border: 0px;
outline: 0px;
}

#nav_close{
background: url(./btn_daum_v5.png?v=1669) no-repeat 0 0;
position: absolute;
top: 5px;
right: 9px;
width: 21px;
height: 21px;
background-position: -176px -66px;
text-indent: -9999px;
border: 0px;
outline: 0px;
}
#daum{
margin-top: 18px;
float: right;
}
.search_on{
background: url(./bg_daum_v10.png?v=1683) no-repeat 0 -45px;	
}