:focus {
 	outline-color: transparent;
 	outline-style: none;
}
body {
	margin: 0px;
	box-sizing:border-box;
    font-size: 12px;
    line-height: 1.5;
    font-family: '돋움',dotum,sans-serif;
    color: #333;	
}
a {
	color: #262626;
	text-decoration: none;
}
a:hover {
	color: #4559e9;
	text-decoration: underline;
}
dd{
	margin:2px;
}
span{
	margin: 0px;
	padding: 0px;
}
ul{
	margin: 0px;
	padding:0px;
	display: inline-block;
	list-style: none;
}
li{
	display: inline-block;
}
div{
	display: block;
}
.navi{
	position: absolute;
	right:10px;
	margin-top:0px;
}
.wrap {
	width:960px;
	position: relative;
	min-width:960px;
	margin:0 auto;
}
.top_box{
	width:960px;
	height:32px;
	border-bottom:2px solid #eeeef0;
	position: relative;
}
.top_head{
	width:100%;
	height: 112px;
	overflow: hidden;
}
.login{
	border:1px solid #a9abb0;
	width: 300px;
	height:120px;
	float:right;
}
.content_wrap{
	position: relative;
}
.side{
	position: relative;
	height: 120px;
	padding-top: 5px;
}
#main{
	margin-top: 10px;
	border:1px solid #a9abb0;
	padding-top: 5px;
	width:653px;
	position: absolute;
	margin-right: 5px;
	margin-bottom: 5px;
}
.media{
	border-bottom:1px solid #eeeef0;
	height:460px;
}
.multi{
	border-bottom:1px solid #eeeef0;
	height:328px;
}
.story{
	height:634px;
}
#sub{
	margin-top: 10px;
	width:300px;
	margin-left:auto;
	display: block;
	overflow: hidden;
}
.shopping{
	margin-top: 9px;
	height: 716px;
	border:1px solid #a9abb0;
	border-bottom:1px solid #eeeef0;
}
.shop_how{
	height:363px;
	border:1px solid #a9abb0;
	border-top:0px;
	border-bottom:3px solid #a9abb0;
}
.banner{
	border:1px solid #a9abb0;
}
.ad1{
	width:653px;
	height: 120px;
	border:1px solid #a9abb0;
	float:left;
}
.ad2{
	height: 150px;
	border:1px solid #a9abb0;
}
.ad3{
	margin-top: 9px;
	height: 180px;
	border:1px solid #a9abb0;
}
.foot{
	border:1px solid #a9abb0;
	border-top:3px solid #000000;
	margin-top: 10px;
	width: 960px;
	height:68px;
}
.service{
	border:1px solid #000000;
	width:515px;
	margin-top: 34px;
	right:0px;
	position: absolute;
	overflow: hidden;
	z-index: 1;
	background: white; 
}
.service_all{
	top:0px;
	left:0px;
	height: 200px;
	background: url(./images/bg_line_v2.gif) repeat-y 105px 0;
}
.app_intro{
	margin-bottom:31px;
	height:100px;
	border-top: 1px solid #eeeef0;
	overflow: hidden;
}
.new_app{
	float:left;
	width:230px;
	height:100px;
}
.app_import{
	float:left;
	width:266px;
	height: 100px;
}
.service_bottom{
	margin-top: auto;
	position: relative;
	bottom:0px;
	left:0px;
	width:515px;
	height: 31px;
	background-color: #f4f5f7;
}
.hidden{
	display: none;
}
.logo{
	float:left;
	width:321px;
	height:112px;
}
.search_bar{
	margin-top: 45px;
	float:left;
	width:446px;
	height:40px;
	background:url(./images/bg_daum_v10.png?v=1683) no-repeat 0 0;
}
.search_input{
	font-size:16px;
	font-weight: bold;
	margin: 9px 9px;
	width:358px;
	height:18px;
	border:1px solid transparent;
	background: transparent; 
}
.search_btn{
	overflow: hidden;
	float: right;
	width: 66px;
	height: 39px;
	line-height: 39px;
	background-color: transparent;	
	text-indent:-9999px;
	border: 0px;
	outline: 0px;
}
#nav_close{
	background: url(./images/btn_daum_v5.png?v=1669) no-repeat 0 0;
	position: absolute;
	top: 5px;
	right: 9px;
	width: 21px;
	height: 21px;
	background-position: -176px -66px;
	text-indent: -9999px;
	border: 0px;
	outline: 0px;
}
.nav_tab{
    overflow: hidden;
    background: url(./images/ico_daum_v9.png?v=1669) no-repeat 0 0;
    text-indent: -9999px;
    width:36px;
    height:13px;
}
.tit1{
	background-position: -30px -230px;
}
.tit2{
	background-position: -70px -230px;
}
.tit3{
	background-position: -110px -230px;
}
.tit4{
	background-position: 0px -250px;
}
.tit5{
	 background-position: -40px -250px;
}
#daum{
	margin-top: 18px;
	float: right;
}
.search_on{
	background: url(./images/bg_daum_v10.png?v=1683) no-repeat 0 -45px;	
}
.link_svc a{
	display: inline-block;
    height: 23px;
    padding: 10px 5px 0 4px;
    color: #444;
    vertical-align: top;
    letter-spacing: -1px;
}
.link_svc2 a{
	display: inline-block;
    height: 23px;
    padding: 10px 5px 0 4px;
    color: #444;
    vertical-align: top;
    letter-spacing: -1px;
	color: #3c77eb;
}
.nav_sort{
	float: left;
    width: 85px;
    padding-left: 16px;
    line-height: 16px;
}
.img_vert{
	background: url(./images/img_daum_vert_v11.png?v=1751) no-repeat 0 0;	
	background-position: 0 -89px;
}
.fw_bold{
	font-weight: bold;
}
#mediaTab{
	padding-top: 43px;
}
.mediaTab_view{
	width:427px;
	height: 375px;
	margin-left: 25px;
	overflow: hidden;
}
.mediaTab_wrap{
	transition:All 0.6s, ease-in-out;
}
.tab_cont{
	width: 427px;
	position: absolute;
}
#funGrpTab{
	padding-top: 43px;
}
.funGrpTab_view{
	width:427px;
	height: 237px;
	margin-left: 25px;
	overflow: hidden;
}
.funGrpTab_wrap{
	transition:All 0.6s, ease-in-out;
}
.ir{
	text-indent: -9999px;
	float: left;
    width: 32px;
    height: 21px;
    line-height: 23px;
    background-color: transparent;
}
#mediaPrevBtn, #mediaNextBtn, #funGrpPrevBtn, #funGrpNextBtn{	
	border: 0px;
	outline: 0px;
    overflow: hidden;
    background: url(./images/btn_daum_v5.png?v=1669) no-repeat 0 0;
}
#mediaNextBtn, #funGrpNextBtn{
	background-position: -32px 0px;
}